a {
    position: absolute;
    left: 850;
    top: 700;
}
a2{
    position: absolute;
    left: 450;
    top: 150;
}
h2 {
    position: absolute;
    left: 650;
    top: 100;
}
a3{
    position: absolute;
    left: -15;
    top: -15;
}
body {
    background-color: red;
}